extends layout
block content
  .container
      .row
        .logo
          h3
           = title
      .row
        .span12
          .mini-layout
            h3 Play Traces
             a(href='/exportplaytraces' style="margin-left: 60%;") Export to CSV
            table.table.table-bordered
              thead
                tr
                  th ID
                  th Player ID
                  th Session ID
                  th Session Elapsed Time
                  th Level Traces
                if playtraces.length
                each item in playtraces
                 tr
                   td #{item['_id']}
                   td #{item['playerID']}
                   td #{item['sessionID']}
                   td #{item['sessionElapsedTime']}
                   td #{item['levelTraces']}
            h3 Level Traces
              a(href='/exportleveltraces' style="margin-left: 60%;") Export to CSV
            table.table.table-bordered
              thead
                tr
                  th ID
                  th Level ID
                  th Level Start Time
                  th Level End Time
                  th Level Elapsed Time 
                  th Level Elapsed Days 
                  th Level Complete 
                if leveltraces.length 
                each item in leveltraces 
                  tr 
                    td #{item['_id']}
                    td #{item['levelID']}
                    td #{item['levelStartTime']}
                    td #{item['levelEndTime']}
                    td #{item['levelDeltaTime']}
                    td #{item['levelElapsedDays']}
                    td #{item['levelComplete']}
            h3 Day Traces
              a(href='/exportdaytraces' style="margin-left: 60%;") Export to CSV
            table.table.table-bordered
              thead
                tr
                  th ID
                  th Day ID
                  th Day Start Time
                  th Day End Time
                  th Day Elapsed Time 
                  th Balance Start 
                  th Balance End 
                if daytraces.length 
                each item in daytraces 
                  tr 
                    td #{item['_id']}
                    td #{item['dayID']}
                    td #{item['dayStartTime']}
                    td #{item['dayEndTime']}
                    td #{item['dayDeltaTime']}
                    td #{item['balanceStart']}
                    td #{item['balanceEnd']}
